<div class="container" style="margin-top: 10px;">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Usuarios registrados</h3>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td class="text-center">{{user.id}}</td>
            <td class="text-center">{{user.username}}</td>
            <td class="text-center">{{user.firstname}}</td>
            <td class="text-center">{{user.lastname}}</td>
            <td class="text-center">{{user.email}}</td>
            <td class="text-center">
              <a (click)="editUser(user)" class="btn btn-warning btn-sm">Edit</a>
              <a (click)="deleteUser(user)" class="btn btn-danger btn-sm" style="margin-left: 2px;">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
